<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container text-center">
        <h5 class="fw-bold">ELVO</h5>

        <p class="text-secondary mb-0">
            Smart Portfolio & Paper Trading Platform
        </p>

        <small>
            © 2026 ELVO. All Rights Reserved.
        </small>
    </div>
</footer>