<div class="row g-4">

<div class="col-md-4">
    <div class="card shadow-lg">
        <div class="card-body">
            <small class="text-muted">
                Portfolio Value
            </small>

            <h2 class="fw-bold">
                ₹0
            </h2>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card shadow-lg">
        <div class="card-body">
            <small class="text-muted">
                Wallet Balance
            </small>

            <h2 class="fw-bold text-success">
                ₹10,00,000
            </h2>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card shadow-lg">
        <div class="card-body">
            <small class="text-muted">
                Watchlist
            </small>

            <h2 class="fw-bold">
                0 Stocks
            </h2>
        </div>
    </div>
</div>

</div>